
<form method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="username" name="username" required>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="name" name="name" required>

    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>